# all
.idea
__pycache__
.DS_Store
supervisord.*
.installed

# server
server/venv
server/workspace
server/kill_worker_procs
markus_config.rb

# tester
testers/**/install_settings.json

#java
testers/java/lib/.gradle
testers/java/lib/build

#racket
testers/racket/**/compiled/

